# ViktorVillalobos
# vvillalobos@firesoft.com.ve


### Python template
# Byte-compiled / optimized / DLL files
*.sqlite3
__pycache__/
*.py[cod]
*$py.class
.idea
core/static/
core/media/
.env
.pid
.log
# C extensions
*.so
# OSX

# generate static files
static/js/all.js
static/css/all.css
static/css/website.min.css
static/js/front.min.js
static/js/pastelea.home.effects.js

.DS_Store
# vim recovery files
*.swp

secrets.yml

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
